* {
    margin: 0;
    padding: 0;
}

.header {
    background: #FDD670;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.icon-logo {
    display: flex;
}

.icon-logo .menu-icon {
    margin-left: 25px;
    margin-top: 12px;
}

.icon-logo .menu-icon>a {
    text-decoration: none;
    padding: 8px 12px;
}

.icon-logo .menu-icon>a:hover {
    background: #F9CD5C;
}

.icon-logo .menu-icon>a>i {
    font-size: 23px;
    color: #615E58;
}

.icon-logo .logo {
    margin-left: 10px;
    margin-top: 5px;
}

.icon-logo .logo>img {
    height: 40px;
}

/* icon-logo end */

.search-section {
    display: flex;
    position: relative;
    justify-content: center;
}

.search-section>input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    padding: 0px 65px 0 12px;
    border-radius: 3px;
    border: #fff;
    box-shadow: none;
    margin-top: 7px;
    font-size: 15px;
    outline: none;
}

.search-section .search-icon {
    position: absolute;
    right: 2%;
    top: 13px;
}

.search-section .search-icon>i {
    color: #a3a3a3;
    font-size: 25px;
}

/* search-section end */

.nav-2 {
    display: flex;
    justify-content: flex-end;
}

.nav-2 .help-desk {
    height: 50px;
    width: 32%;
    text-align: center;
    border-left: solid 1px #615E58;
}

/* .nav-2 .help-desk::after {
    content: "";
    height: 50px;
    width: 1px;
    background: rgb(129, 124, 114);
    position: absolute;
    left: 12px;
} */

.nav-2 .help-desk>a {
    line-height: 3;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #615E58;
    margin-right: 32px;
}

.nav-2 .help-desk>i {

    margin-left: -20px;

    margin-top: 13px;

    font-size: 20px;

    position: absolute;
}

/* help-desk */


.nav-2 .language {
    height: 50px;
    width: 28%;
    text-align: center;
    border-left: solid 1px #615E58;
}

/* .nav-2 .language::after {
    content: "";
    height: 50px;
    width: 1px;
    background: rgb(129, 124, 114);
    position: absolute;
    left: 160px;
} */

.nav-2 .language>a {
    line-height: 3;
    color: #615E58;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.nav-2 .language #eng {
    color: red;
    margin-right: 8px;
}

#eng::after {
    content: "";
    height: 13px;
    width: 2px;
    background: rgb(129, 124, 114);
    margin-top: 16px;
    position: absolute;
    margin-left: 5px;
}

/* language */


.nav-2 .sign-in {
    width: 36%;
    background: #ed6c6c;
    text-align: center;
    line-height: 3;
}

.nav-2 .sign-in>a {
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.gutter {
    padding: 0;
}

/* nav-2 end */

/* ----header end ----- */

.hero-section {
    width: 100vw;
    position: relative;
}

.hero-section .banner {
    position: relative;
    margin-top: -72px;
}

.hero-section .banner>img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

/* banner end */
.hero-section .heading {
    position: absolute;
    top: -15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .heading>h1 {

    color: #000;

    font-size: 37px;

    font-weight: 700;
}

.hero-section .search-section-2 {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .search-section-2>input {
    padding: 4px 60px 4px 22px;
    width: 42%;
    height: 38px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 6px;
    border: .5px solid #c8c8c8;
    top: 0;
    outline: none;
}

.hero-section .search-section-2 .search-icon {
    position: absolute;
    margin-left: 340px;
}

.hero-section .search-section-2 .search-icon>i {
    color: #a3a3a3;
    font-size: 19px;
}

/* hero-section end */

.promotion {
    position: relative;
    background: white;
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.promotion .promotio-asset {
    margin-top: 20px;
}

.promotion .promotio-asset>a {
    text-decoration: none;
}

.promotion .promotio-asset>a>img {
    height: 150px;
}

/* promotion end */

.product-list {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-list .heading {
    position: absolute;
    margin-top: 25px;
}

.product-list .heading>h1 {}

.product-list .product {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}

.product-list .product .product-name {
    border: solid 1px #D4D4D4;
    width: 340px;
    margin: 5px;
    height: 65px;
    box-sizing: border-box;
}

.product-list .product .product-name>a {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
}

.product-list .product .product-name>a>h4 {
    line-height: 3;
    font-size: 17px;
    color: #615e58;
}

.product-list .product .product-name>a>i {
    font-size: 22px;
    color:black;
}
